# Exemplo de configuração do banco de dados
# Substitua "postgres" e "sua_senha" pelas suas credenciais locais
DATABASE_URL="postgresql://postgres:sua_senha@localhost:5432/jogos_db?schema=public"

# Porta da API
PORT=3000